[flake8]
ignore = F401,W503
# E203 is ignored for black compatibility, see
# https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#flake8
# for more info
extend-ignore = E203
max-line-length = 100
exclude =
    .venv
    __pycache__
